@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
}

#login {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#form {
    width: 570px;
    height: 510px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 7rem;
    background-color: var(--form-background);
}

header {
    margin-bottom: 2rem;
}

header h1 {
    color: var(--text-title);
}

header p {
    color: var(--text-base);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--text-base);
}

form img {
    width: 24px;
}

.email-box {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #d4ccb6;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 1rem;
    position: relative;
}

.password-box {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d4ccb6;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 1rem;
}

.password-box span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-box input, .password-box span input {
    width: 100%;
    background-color: var(--form-background);
    border: none;
    outline: none;
}

.email-box, .password-box:focus-within {
    border: 3px solid var(--primary-color);
    border-radius: 4px;
}

.input-check-box input {
    display: none;
}

.input-check-box input + label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid var(--text-title);
    background-color: var(--form-background);
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.input-check-box input:checked + label::before {
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6667 5L7.50004 14.1667L3.33337 10' stroke='%23473404' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    border: 1px solid var(--primary-color);
}

form p:last-child {
    text-align: center;
    color: var(--primary-color);
}

form b {
    color: var(--primary-color);
}

button {
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bolder;
    color: var(--form-background);
    background-color: var(--primary-color);
    cursor: pointer;
}

i {
    color: var(--text-base);
}